<p>channel-css works!</p>
<div class="channelSettingsCSS" *ngIf="channel">
		<label>{{channel['name']}} CSS Settings</label>
		<p>{{generalSettings[generalSettingsID['css']].description}}</p>
	<textarea  (input)="CMinputChange()"   [(ngModel)]="channel['settings'].css"></textarea>
	    	<button type="button" (click)="save()" class="button fancy-button">Save channel settings</button>  
</div>
