
<div *ngIf="channel">
<label>Export {{channel.name}}</label>
<textarea readonly id="textareaExport">{{channelData | json}}</textarea>
<button type="button" id="copyClipboardButton" (click)="copyTextarea()" class="button fancy-button">Copy to clipboard</button>  
<button type="button" id="copyClipboardButton" (click)="exportToFile()" class="button fancy-button">Export to json file</button>  


</div>