<a [routerLink]="['/index.html']">
  <h1>Twitch chat settings&ngsp;<button type="button"  class="button fancy-button">Home</button></h1>
</a>
	
<button   type="button" (click)="save()" id="topbar-save-button" class="button fancy-button channel-is-{{channel!=null}}">Save channel settings</button>
<a href="index.html"><button type="button"  class="button fancy-button">Reload/reset</button></a>



<div>

<!-- Select Channel:
<select #channel (change)="onSelected()" [(ngModel)]="selectedOption" >
		
		<ng-container *ngFor="let item of channels" >
			<option [value]="item.id">{{item.name}}</option>
		</ng-container>

	
	</select>
</div> -->
<!--
<a class="button fancy-button" [routerLink]="['/new']">New item</a>
-->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->