#topbar-save-button.unsaved{
	background-color: #bb0d0d;
	color: #FFF;
	font-weight: bold;
}

#topbar-save-button.saved{
	background-color: #016a13;
	color: #FFF;
	font-weight: bold;
}

#topbar-save-button.channel-is-false{
	visibility:  hidden;
}