<div class="setting-menu">
	<label  *ngIf="!channelID">Select channel first</label>
	<label  *ngIf="channel">{{channel.name}}</label>
	<label>Menu:</label>
<!--<a [routerLink]="['/dashboard/all']"  [class.current-selected]="show === 'all'" (click)="update('all')">All</a>
<a [routerLink]="['/dashboard/done']" [class.current-selected]="show === 'done'" (click)="update('done')">Done</a>
<a [routerLink]="['/dashboard/notdone']" [class.current-selected]="show === 'notdone'"  (click)="update('notdone')">Not Done</a>
<a [routerLink]="['/dashboard/toolate']" [class.current-selected]="show === 'toolate'" (click)="update('toolate')">Too late</a>
	<ul class="todolist">
	-->
		<ul >
			<ng-container  *ngIf="channelID">
			<li *ngFor="let menuItem of menuList" >
				<a routerLink="channel/{{channelID}}/{{menuItem[1]}}"  skipLocationChange routerLinkActive="activeRoute">
				{{ menuItem[0] }}
			    </a>
		    </li>
		    	</ng-container>
		    <li  >
				<a routerLink="import"  routerLinkActive="activeRoute" skipLocationChange>
				Import
			    </a>
		    </li>
	
	    </ul>
	    

    
</div>