<div class="channelSettingsContainer">
<app-channel-selector  *ngIf="!channel" ></app-channel-selector>
<app-channel-permissions  *ngIf="channel  && settingsPart=='permissions'" [channel]=channel></app-channel-permissions>
<div class="channelSettingsGeneral" *ngIf="channel  && (settingsPart=='general' || !settingsPart)">
	<label>{{channel['name']}} General Settings</label>
	<ul class="" >
		 <div *ngFor="let item of generalSettings">
		 	<li *ngIf="item.type == STRING ">
			{{item['key']}}: <br>
		
			<input id="item"   (input)="CMinputChange()"
			[(ngModel)]="channel['settings'][item['key']]"  />
			{{item['description']}}
		  </li> 

			<li *ngIf="item.type == BOOLEAN">
				<label for="generel-settings-checkbox" class="generel-settings-checkbox" >{{item.key}}:</label><br>
				<input type="checkbox"  (input)="CMinputChange()" class="generel-settings-checkbox" id="generel-settings-checkbox" [(ngModel)]="channel['settings'][item['key']]"  />
				{{item.description}}
			</li>

	    <li *ngIf="item.type == STRINGARRAY">
	    	<label>{{item.key}}: {{item.description}}</label>
		    		<ul>
		    		<ng-container *ngFor="let control of channel.settings[item.key]; index as i" >
		    			<li>

			    		<input id="stringarray-{{channel.id+item.key+i}}" type="text" value="{{channel.settings[item.key][i]}} "  (input)="CMinputChange()"
			    		(blur)="onArrayFormBlur(channel.settings[item.key],i, 'stringarray-'+channel.id+item.key+i)" >
			    		<button type="button" (click)="ArryFormDelItem(channel.settings[item.key], i)" class="button fancy-button">Delete</button>  
			    	  </li>
				    	</ng-container>
				    	<button type="button" (click)="ArryFormAddItem(channel.settings[item.key])" class="button fancy-button">Add extra item</button>  
				      </ul>
		 </li>

		</div>
		</ul>
    	<button type="button" (click)="save()" class="button fancy-button">Save channel settings</button>  
</div>


<app-channel-css *ngIf="channel  && settingsPart=='css'" [channel]=channel></app-channel-css>
		
<!-- <div class="channelSettingsCSS" *ngIf="channel  && (settingsPart=='css')">
		<label>{{channel['name']}} CSS Settings</label>
		<p>{{generalSettings[generalSettingsID['css']].description}}</p>
	<textarea  (input)="CMinputChange()"   [(ngModel)]="channel['settings'].css"></textarea>
	    	<button type="button" (click)="save()" class="button fancy-button">Save channel settings</button>  
</div>
 -->
<!-- 		<li >
			{{generalSettings[1]['key']}}: <br>]
			{{chSettings[generalSettings[1].key]}}
			
			  <input id="item" 
			[(ngModel)]="chSettings[generalSettings[3].key]" />   
			  {{generalSettings[1]['description']}} 

		</li> -->

<!--<a [routerLink]="['/dashboard/all']"  [class.current-selected]="show === 'all'" (click)="update('all')">All</a>
<a [routerLink]="['/dashboard/done']" [class.current-selected]="show === 'done'" (click)="update('done')">Done</a>
<a [routerLink]="['/dashboard/notdone']" [class.current-selected]="show === 'notdone'"  (click)="update('notdone')">Not Done</a>
<a [routerLink]="['/dashboard/toolate']" [class.current-selected]="show === 'toolate'" (click)="update('toolate')">Too late</a>
	<ul class="todolist">
	-->

<!--<a [routerLink]="['/dashboard/all']"  [class.current-selected]="show === 'all'" (click)="update('all')">All</a>
<a [routerLink]="['/dashboard/done']" [class.current-selected]="show === 'done'" (click)="update('done')">Done</a>
<a [routerLink]="['/dashboard/notdone']" [class.current-selected]="show === 'notdone'"  (click)="update('notdone')">Not Done</a>
<a [routerLink]="['/dashboard/toolate']" [class.current-selected]="show === 'toolate'" (click)="update('toolate')">Too late</a>
	<ul class="todolist">
	-->

<!-- <div *ngIf="todo_item">
  <div>
    <label for="item-title">Title: </label>
    <input id="item-name" [(ngModel)]="todo_item.title" placeholder="Title"/>
  
    <label for="item-description">Description: </label>
    <textarea id="item-description" [(ngModel)]="todo_item.description"></textarea>
    <label for="item-date">Deadline:</label>

    <input type="date" id="item-date"  [(ngModel)]="todo_item.deadline_input_field_string" />
  </div>
  <div  *ngIf="todo_item.id != -1">
  <label for="item-completed-checkbox">Done:</label><input type="checkbox" id="item-completed-checkbox" [(ngModel)]="todo_item.completed" style="float:left">
</div> -->
<!--  <button type="button" (click)="goBack()">go back</button>-->
<!-- <button type="button" (click)="save()" class="button fancy-button">Save</button>
 <button type="button" (click)="goBack()" class="button fancy-button">Back</button>  
  <button type="button" (click)="delete()" class="button fancy-button">Delete</button>
</div> -->

