<app-top-bar></app-top-bar>

<div class="container">
	<app-channel-menu></app-channel-menu>
<!--<app-todo-list></app-todo-list>-->
    <router-outlet></router-outlet>
</div>
<!--<app-messages></app-messages>-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->