<p>channel-permissions works!</p>
<ng-container *ngIf="channel">
<div class="permission-group"  *ngFor="let group of permissionsList.settings">
	<label>{{group.key}}</label>
	<ul >
		<ng-container  *ngFor="let item of group.options">
			<li *ngIf="item.type == BOOLEAN">
				<label for="generel-settings-checkbox" class="generel-settings-checkbox" >{{item.key}}:</label>
				<input type="checkbox"  (input)="CMinputChange()" class="generel-settings-checkbox" id="generel-settings-checkbox" [(ngModel)]="channel.settings.permission[group.key].options[item['key']]"  />
				{{item.description}}
			</li>

		</ng-container>
	</ul>
</div>
</ng-container>