.permission-group{
	float:left;
	display: block;
	width: 16em;
	
}

.permission-group li{
	margin:1rem 0.3rem;
	border-bottom:1px solid #AAA ;
}

label{
	margin: 0.2rem;
	border:0px solid blue;
	display: inline-block;
}

input[type=checkbox] {
  transform: scale(2); 
  margin: 0.2rem 1rem ;
  float:right;
}
