<div class="usercontainer">
<div class="listUserDiv">
	<label>Users</label>
<!--<a [routerLink]="['/dashboard/all']"  [class.current-selected]="show === 'all'" (click)="update('all')">All</a>
<a [routerLink]="['/dashboard/done']" [class.current-selected]="show === 'done'" (click)="update('done')">Done</a>
<a [routerLink]="['/dashboard/notdone']" [class.current-selected]="show === 'notdone'"  (click)="update('notdone')">Not Done</a>
<a [routerLink]="['/dashboard/toolate']" [class.current-selected]="show === 'toolate'" (click)="update('toolate')">Too late</a>
	<ul class="todolist">
	-->

		<ul class="todolist" >
			<li *ngFor="let user of userlist" >
				<a routerLink="/channel/{{currentChannelID}}/user/{{user.userID}}" >
				{{ user.name }}
			    </a>
		    </li>
	    </ul>

    
</div>

<div class="userDiv" *ngIf="userID && userDict[userID]">
	<label *ngIf="userID">{{userDict[userID].name}}</label>

		<div *ngFor="let item of userDict[userID] | keyvalue"> 
			Key: {{item.key}}, Value: {{item.value}}

</div>
<!--<a [routerLink]="['/dashboard/all']"  [class.current-selected]="show === 'all'" (click)="update('all')">All</a>
<a [routerLink]="['/dashboard/done']" [class.current-selected]="show === 'done'" (click)="update('done')">Done</a>
<a [routerLink]="['/dashboard/notdone']" [class.current-selected]="show === 'notdone'"  (click)="update('notdone')">Not Done</a>
<a [routerLink]="['/dashboard/toolate']" [class.current-selected]="show === 'toolate'" (click)="update('toolate')">Too late</a>
	<ul class="todolist">
	-->


    
</div>
</div>