.todolist {
  margin: 0 0 1em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.todolist li {
  position: relative;
}

.usercontainer{
  max-width: 800px;
  display: inline-block;

}

.listUserDiv{
  display: inline-block;
  margin: 0.5em 1em;
  float:left;

}

.userDiv{
  float:left;
  display: inline-block;
  margin: 0.5em 1em;
}

.todolist a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .2em .8em;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}


.todolist a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}


.item-done-true a{
  background-color: #90EE90;
}

.todolist .too-late .item-done-false a{
  background-color: #8B0000;
  color: #FFF;
}

.todolist .today .item-done-false a{
  background-color: #FF8C00;

}

.item-done-false a{
  
}


label {
  color: #777;
  font-weight: bold;
  font-size: 1em;
}


a, button {
  margin-top: 0px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  display:inline-block;
  color: #777;

}

a.current-selected{
  background-color: #AAA;
  color:#FFF;
  font-weight: bold;
}

a:hover, button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
