<div>
<label>Import settings / users</label>
	<textarea  id="textareaImport"></textarea>
<button type="button" id="import" (click)="loadFile()" class="button fancy-button">Load json file</button>  
<button type="button" id="copyClipboardButton" (click)="importFromTextarea()" class="button fancy-button">Import van text area</button>  


</div>